*{
    box-sizing: border-box;
}

.Projects{
    display:flex;
    border:2px solid black;
    margin-left:15vw;
    margin-right:15vw;
    margin-top: 13vh;
    height:50vh;
}

.projectImage{
    position: relative;
    left:5%;
    top:3.5%;
    width:35vw;
    height:42.4vh;
    border:1px solid black;
}

.projectText{
    position:relative;
    left:15%;
    top:8%;
    border:1px solid black;
    width:20vw;
    height:40vh;
}

.sidebar{
    position:fixed;
    bottom:22%;
    border:1px solid black;
    width:70vw;
    height:5vh;
    margin-left:15vw;
}

@media only screen and (max-width:640px){
    
    .Projects{
        margin-left:10%;
        margin-right:20%;
    }

    .sidebar{
        position:fixed;
        left:65%;
        top:31%;
        width:5vh;
        height:70vw;
    }
}